{% extends "base/base.html" %}

{% load markdown_deux_tags %}

{% block title %}
Редактирование данных
{% endblock %}

{% block content %}
<div class="container">
<form class="form-horizontal" role="form" action="{% url 'edit_profile' %}" method="post">
    {% csrf_token %}
    <legend>Редактирование данных</legend>
    
  <div class="form-group">
    <label for="first_name" class="col-sm-2 control-label">Фамилия</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Фамилия" value="{{ user.first_name }}" required>
    </div>
  </div>
  <div class="form-group">
    <label for="second_name" class="col-sm-2 control-label">Имя</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="second_name" name="second_name" placeholder="Имя" value="{{ user.last_name }}" required>
    </div>
  </div>
  <div class="form-group">
    <label for="phone" class="col-sm-2 control-label">Телефон</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="phone" name="phone" placeholder="Телефон" value="{{ user.userprofile.phone }}" required>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Отправить</button>
    </div>
  </div>
</form>
</div>
{% endblock %}
