{% extends "base/base.html" %}

{% load markdown_deux_tags %}
{% load staticfiles %}

{% block title %}
    {% if pages_settings %}
        {{pages_settings.site_name}}
    {% else %}
        Aksvrn
    {% endif %} | Список товаров
{% endblock %}

{% block content %}
<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
            {% if products %}
                <p>
                    Найдено: <strong>{{product_count}}</strong>
                    </p>
                    <p>
                    <form id="sort_form" action="?{{qparams_str}}" method="post" class="form-inline">
                        {% csrf_token %}
                        Сортировка&#160;&#160;
                        <select name="order_by" onchange="$('#sort_form').submit()">
                            <option {% if order_by == "id" %}selected="selected"{% endif %} value="id">по дате</option>
                            <option {% if order_by == "retail_price" %}selected="selected"{% endif %} value="retail_price">по цене</option>
                            <option {% if order_by == "vendor__name" %}selected="selected"{% endif %} value="vendor__name">по производителю</option>
                        </select>
                        <select name="direction" onchange="$('#sort_form').submit()">
                            <option {% if direction == "" %}selected="selected"{% endif %} value="">По возврастанию</option>
                            <option {% if direction == "-" %}selected="selected"{% endif %} value="-">По убыванию</option>
                        </select>
                    </form>
                </p>
                {% for product in products %}
                <div class="media" style="position:relative; border-bottom: #ececec solid 1px;">
                    <a class="pull-left" href="{% url 'get_product' product.id %}">
                        <img src="{% if product.previews.all.0 %}{{product.previews.all.0.image.thumbnail.url}}{% else %}{% static 'no-photo.png' %}{% endif %}"  data-src="holder.js/300x300" class="pull-left img-responsive" style="margin: 0px 20px 20px 0px;" alt="{{product.name}} | {{ product.short_desc }}"/>
                    </a>
                    <div class="pull-right" style="width: 125px;">
                        <div>{{ product.retail_price }}р.</div>
                        <div>
                            <small>
                                {% if product.available_for_retail %}
                                    <span class="glyphicon glyphicon-ok"></span> Есть в наличии
                                {% else %}
                                    Нет в наличии
                                {% endif %}
                            </small>
                        </div>
                    </div>
                    <div class="media-body" style="margin: 0 125px;">
                        <h4 class="media-heading">
                            <a href="{% url 'get_product' product.id %}">{{ product.vendor.name }} {{ product.name }}</a>
                        </h4>
                        <p>{{ product.short_desc }}<p>
                        <div style="position:absolute; bottom: 10px;">
                            <a href="?vendor={{ product.vendor.id }}" style="color: #5cb85c; text-transform: lowercase;">{{ product.vendor.name }}</a>;&#160;
                            {% for r in product.rubrics.all %}
                                <a href="?rubric={{ r.id }}" style="color: #5cb85c; text-transform: lowercase;">{{ r.name }}</a>;&#160;
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                
                {% if products.has_previous or products.has_next %}
                <ul class="pager">
                    {% if products.has_previous %}
                        <li class="pull-left"><a href="?page={{ products.previous_page_number }}{% if order_by %}&order_by={{order_by}}{% if direction == '-' %}&direction=-{% endif %}{% endif %}&{{qparams_str}}">Предыдущие</a></li>
                    {% endif %}
                    <li>Страница {{ products.number }} из {{ products.paginator.num_pages }}</li>
                    {% if products.has_next %}
                        <li class="pull-right"><a href="?page={{ products.next_page_number }}{% if order_by %}&order_by={{order_by}}{% if direction == '-' %}&direction=-{% endif %}{% endif %}&{{qparams_str}}">next</a></li>
                    {% endif %}
                </ul>
                {% endif %}
            {% else %}
                Ничего не найдено.
            {% endif %}
        </div>
        <div class="col-xs-12 col-sm-3">
            {% include "common/parts/search.html" %}
        </div>
    </div>
</div>
{% endblock %}

{% block libs %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.jquery.min.js"></script>
<script>
    $(document).ready(function(){
        req = {no_results_text: "Нет совпадений!"}
        $("select").chosen();
        $("#do_search_reset").click(function(){
            $(':input','#myform')
                .removeAttr('checked')
                .removeAttr('selected')
                .not(':button, :submit, :reset, :hidden, :radio, :checkbox')
                .val('');
            $('select').chosen('destroy');  

            $('select').prop("selectedIndex", -1);   
            $('select').chosen();
        });
    });
</script>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.css"/>
{% endblock %}

