{% extends "base/base.html" %}

{% load markdown_deux_tags %}
{% load staticfiles %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
            {% if products %}
                {% for product in products %}
                <div class="media" style="position:relative; border-bottom: #ececec solid 1px;">
                    <a class="pull-left" href="{% url 'get_product' product.id %}">
                        <img src="{% static 'no-photo.png' %}"  data-src="holder.js/300x300" class="img-responsive" alt="Responsive image"/>
                    </a>
                    <div class="pull-right" style="width: 125px;">
                        <div>{{ product.retail_price }}р.</div>
                        <div>
                            <small>
                                {% if product.available %}
                                    <span class="glyphicon glyphicon-ok"></span> Есть в наличии
                                {% else %}
                                    Нет в наличии
                                {% endif %}
                            </small>
                        </div>
                    </div>
                    <div class="media-body" style="margin: 0 125px;">
                        <h4 class="media-heading">
                            <a href="{% url 'get_product' product.id %}">{{ product.vendor.name }} {{ product.name }}</a>
                        </h4>
                        <p>{{ product.short_desc }}<p>
                        <div style="position:absolute; bottom: 10px;">
                            <a href="#" style="color: #5cb85c; text-transform: lowercase;">{{ product.vendor.name }}</a>;&#160;
                             
                            {% for r in product.rubrics.all %}
                                <a href="#" style="color: #5cb85c; text-transform: lowercase;">{{ r.name }}</a>;&#160;
                            {% endfor %}
                        </div>
                    </div>
                    
                </div>
                {% endfor %}
                
                <ul class="pager">
                    {% if products.has_previous %}
                        <li class="pull-left"><a href="?page={{ products.previous_page_number }}">Предыдущие</a></li>
                    {% endif %}
                    <li>Страница {{ products.number }} из {{ products.paginator.num_pages }}</li>
                    {% if products.has_next %}
                        <li class="pull-right"><a href="?page={{ products.next_page_number }}">next</a></li>
                    {% endif %}
                </ul>
            {% else %}
                Ничего не найдено.
            {% endif %}
        </div>
        <div class="col-xs-12 col-sm-3">
            {% include "pages/parts/search.html" %}
        </div>
    </div>
</div>
{% endblock %}

{% block libs %}
<script>
    $(document).ready(function(){
        var max = -1;
        $(".special_product").each(function() {
            var h = $(this).height();
            max = h > max ? h : max;
        });
        $(".special_product").height(max)
    });
</script>
{% endblock %}
