{% extends "base/base.html" %}

{% load staticfiles %}
{% load markdown_deux_tags %}

{% block title %}
{{ product.vendor.name }} {{product.name}}
{% endblock %}

{% block content %}
<div class="container">

    <ol class="breadcrumb">
        <li><a href="{% url 'rubricator' %}">Рубрикатор</a></li>
        {% if product.rubrics.all.0 %}
            {% for step in product.rubrics.all.0.rubricator_path %}
                <li>
                    <a href="{% url 'rubricator' %}?rubric={{step.id}}" >{{step.name}}</a>
                </li>
            {% endfor %}
        {% endif %}
        <li class="active">{{ product.get_full_name }}</li>
    </ol>
    
    <div>
    
        <img src="{% if product.previews.all.0 %}{{product.previews.all.0.image.medium.url}}{% else %}{% static 'no-photo.png' %}{% endif %}"  data-src="holder.js/300x300" class="pull-left img-responsive" style="margin: 0px 20px 20px 0px;" alt="{{product.name}} | {{ product.short_desc }}"/>

        <h1 class="post-title">{{ product.vendor.name }} {{product.name}}</h1>
        {% if product.short_desc %}
            <p>{{ product.short_desc }}</p>
        {% endif %}
        {% if product.available_for_retail %}
            <div>Есть в наличии</div>
            <div>{{ product.retail_price }}р</div>
        {% else %}
            <div>Нет в наличии</div>
        {% endif %}
        <div class="clearfix"></div>
        {% if product.desc %}
            <div>{{ product.desc|markdown }}</div>
        {% endif %}
        {% with same_rubric_products=product.same_rubric_products %}
            {% if same_rubric_products %}
                <div>
                <h3>Торары из той же рубрики</h3>
                <div class="row">
                {% for prd in same_rubric_products %}
                    {% include "pages/special_product_view.html" %}
                {% endfor %}
                </div>
                </div>
            {% endif %}
        {% endwith %}
        
    </div>
</div>
{% endblock %}

{% block head %}
{% endblock %}

{% block libs %}
<script>
    $(document).ready(function(){
        var max = -1;
        $(".special_product").each(function() {
            var h = $(this).height();
            max = h > max ? h : max;
        });
        $(".special_product").height(max)
    });
</script>
{% endblock %}
