{% extends "base/base.html" %}

{% load markdown_deux_tags %}
{% load staticfiles %}
{% load rubrics_extras %}

{% block title %}
    {% if pages_settings %}
        {{pages_settings.site_name}}
    {% else %}
        Aksvrn
    {% endif %} | Рубрикатор
{% endblock %}

{% block content %}
<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-3">
            <h2>Тип товара</h2>
            {% include "rubrics/rubricator_list.html" %}
        </div>
        <div class="col-xs-12 col-sm-9">
            <ol class="breadcrumb">
                <li><a href=".">Каталог</a></li>
                {% if main %}
                    {% for step in rubricator_path %}
                        <li {% if step.id == main.id %}class="active"{% endif %}>
                            {% if step.id == main.id %}
                                {{step.name}}
                            {% else %}
                                <a href="?rubric={{step.id}}" >{{step.name}}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% endif %}
            </ol>
            {% if rubrics_view %}
            <h2>Рубрики</h2>
            <div> 
                <div class="row">
                    {% for rubric in rubrics_view %}
                        <div class="col-md-4">
                            <div class="media" style="min-height: 100px;">
                                <a class="media-left pull-left" href="?rubric={{rubric.id}}">
                                    <img src="{% static 'folder.png' %}" alt="{{rubric.name}}"/>
                                </a>
                                <div class="media-body" style="margin-top: 3px;">
                                    <h4 class="media-heading">
                                        <a href="?rubric={{rubric.id}}">
                                            {% if rubric.name|length > 23 %}
                                                {{rubric.name|slice:":20"}}...
                                            {% else %}
                                                {{rubric.name}}
                                            {% endif %}
                                        </a>
                                    </h4>
                                    {% if rubric.desc %}
                                    <p style="color: #636363;">{{rubric.desc}}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if products %}
            {% if rubrics_view %}
                <h2>Продукты из подрубрик</h2>
            {% else %}
                <h2>Продукты</h2>
            {% endif %}
            <div> 
                <div class="row">
                    
                    {% for product in products %}
                        <div class="col-md-4">
                            <div class="media" title="{{product.get_full_desc}}" style="min-height: 100px;">
                                <a class="media-left pull-left" href="{% url 'get_product' product.id %}">
                                    <img src="{% if product.previews.all.0 %}{{product.previews.all.0.image.thumbnail.url}}{% else %}{% static 'no-photo.png' %}{% endif %}" alt="{{product.name}}" style="max-width: 64px; max-height: 64px;"/>
                                </a>
                                <div class="media-body" style="margin-top: 5px;">
                                    <h4 class="media-heading">
                                        <a href="{% url 'get_product' product.id %}">
                                        {% if product.get_full_name|length > 18 %}
                                            {{product.get_full_name|slice:":15"}}...
                                        {% else %}
                                            {{product.get_full_name}}
                                        {% endif %}
                                        </a>
                                    </h4>
                                    <p style="color: #636363;">
                                    {{product.retail_price}}р.
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    
                </div>
                {% if products.has_previous or products.has_next %}
                    <ul class="pager">
                        <li class="pull-left {% if not products.has_previous %}disabled{% endif %}"><a href="{% if products.has_previous %}?{% query_transform page=products.previous_page_number %}{% else %}#{% endif %}">Предыдущие</a></li>
                        <li>Страница {{ products.number }} из {{ products.paginator.num_pages }}</li>
                        <li class="pull-right {% if not products.has_next %}disabled{% endif %}"><a href="{% if products.has_next %}?{% query_transform page=products.next_page_number %}{% else %}#{% endif %}">Cледующие</a></li>
                    </ul>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block libs %}

{% endblock %}

{% block head %}
<style>
a.folder {
margin: 10px;
}
</style>
{% endblock %}

