{% extends "base/base.html" %}

{% load markdown_deux_tags %}
{% load staticfiles %}

{% block title %}
    {% if pages_settings %}
        {{pages_settings.site_name}}
    {% else %}
        Aksvrn
    {% endif %} | Рубрикатор
{% endblock %}

{% block content %}
<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-3">
            {% include "rubrics/rubricator_list.html" %}
        </div>
        <div class="col-xs-12 col-sm-9">
            <ol class="breadcrumb">
                <li><a href=".">Рубрикатор</a></li>
                {% if main %}
                    {% for step in rubricator_path %}
                        <li {% if step.id == main.id %}class="active"{% endif %}>
                            {% if step.id == main.id %}
                                {{step.name}}
                            {% else %}
                                <a href="?rubric={{step.id}}" >{{step.name}}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% endif %}
                
            </ol>
            {% if rubrics %}
            <h2>Рубрики</h2>
            <div class="row">
                {% if main %}
                {% set rubrics=main.get_published_children %}
                {% endif %}
                {% for rubric in rubrics %}
                    <div class="col-md-3">
                        <a href="?rubric={{ rubric.id }}" title="{{rubric.name}}" class="folder">
                        <img src="{% static 'folder.png' %}" style="display: block;"/>
                        <span>{% if rubric.name|length > 23 %}{{rubric.name|slice:":20"}}...{% else %}{{rubric.name}}{% endif %}</span>
                        </a>
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block libs %}

{% endblock %}

{% block head %}
<style>
.folder {
text-align: center;
margin: 1px;
}
.folder:hover {
margin: 0px;
border: #ececec dotted 1px;
}
</style>
{% endblock %}

